form {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    &:focus {
      box-shadow: 0 0 2px 1px #68c991;
    }
  }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  background-color: #68c991;
}

#nav ul li a.active span:before {
  color: #77b3d8;
}
a:hover {
  color: #77b3d8;
}
